@import url("../Assets/Fonts/fonts.css");
:root {
    --Black:#000000;
    --GrayDark: #708090;
    --GrayLight: #C0C0C0;
    --BlueGrayDark: #36454F;
    --BlueGrayLight: #7393B3;
    --BlueDark:#4682B4;
    --BlueLight: #A7C7E7;
    --BlueGreen: #008080;
    --GreenBlue: #478778;
    --GreenDark: #454B1B;
    --GreenLight: #8A9A5B;
    --PurpleDark: #673147;
    --PurpleLight: #D8BFD8;
    --PurplePink: #915F6D;
    --PurpleRed: #953553;
    --PinkDark: #AA336A;
    --PinkLight: #E0BFB8;
    --BackPrim:var(--GrayDark);
    --BackSec:var(--GrayLight);
    --TextPrim:var(--BlueGrayDark);
    --TextSec:var(--BlueGrayLight);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Raleway', Verdana, sans-serif;
    background-color:white;
}

#Header {
    background-color:var(--BackPrim);
    color:white !important;
    font-size:25px;
    font-family:'Cardo';
    font-weight:bold;
    height: 30px;
    padding:10px;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
}

#MainPage {
    padding:50px;
    color:var(--TextSec);
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
}

#Footer {
    background-color:var(--Black);
    color:var(--BackSec) !important;
    height: 30px;
    padding:10px;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
}

#CPR {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cardo', Courier, monospace;
    color:var(--TextPrim);
}