@import url("../Assets/Fonts/fonts.css");
@import url("../Assets/ColorSchemes.css");
@import url("../Assets/Components/Buttons.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Raleway', Verdana, sans-serif;
    background-color:white;
}

#Header {
    background-color:var(--BackPrim);
    color:white ;
    font-size:25px;
    font-family:'Cardo';
    font-weight:bold;
    height: 30px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
}
#Header>a:link { color:white; }
#Header>a:visited { color:white; }
#Header>.button:hover { background-color: var(--BackPrim)}

#MainPage {
    padding:50px;
    color:var(--TextSec);
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
}

#Footer {
    background-color:var(--Black);
    color:var(--BackSec) !important;
    height: 20px;
    padding:10px;
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
}
#Footer>a:link { color:var(--BackSec); }
#Footer>a:visited { color:var(--BackSec); }
#Footer>.button:hover { background-color: var(--Black)}

#CPR {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cardo', Courier, monospace;
    color:var(--TextPrim);
}